@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

#circle {
  margin-left: 96px;
  font-family: "Noto Sans TC", sans-serif;
  /* color: #604c3f;} */
}

.domain {
  fill: #9b8a81;
}
#histogram {
  margin-top: 100px;
  margin-left: 47px;
}
.tick {
  color: #9b8a81;
  fill: #9b8a81;
}
